<html>
   <body>

      <form action = "{{ url_for('addrec2') }}" method = "POST">
            <h2>Data description</h2>
            <p>Each data collection includes 8 variables</p>
            <p>Genotype Number: a specific number assigned to genotype</p>
            <p>Genotype: full name of peanut genotype</p>
            <p>Rep: indicate replication number</p>
            <p>Exp: experiment number</p>
            <p>DAI3: lesion length recorded at 3 days after stem rot disease occurrence</p>
            <p>DAI5: lesion length recorded at 5 days after stem rot disease occurrence</p>
            <p>DAI7: lesion length recorded at 7 days after stem rot disease occurrence</p>
            <p>DAI9: lesion length recorded at 9 days after stem rot disease occurrence</p>

         Genotype Number<br>
         <input type = "number" name = "GenotypeNumber" /> <br>

         Genotype <br>

         <select type= "number" name="Genotype"  style="height:15px; width:150px">
            <option value="628">628</option>
            <option value="630">630</option>
            <option value="660">660</option>
            <option value="668">668</option>
            <option value="683">683</option>
            <option value="694">694</option>
            <option value="695">695</option>
            <option value="696">696</option>
            <option value="704">704</option>
            <option value="708">708</option>
            <option value="730">730</option>
            <option value="736">736</option>
            <option value="12Y">12Y</option>
            <option value="13M">13M</option>
        </select><br>

         Rep <br>
         <input type = "number" name = "rep" /><br>

         Exp <br>
         <input type = "number" name = "exp" /><br>

         DAI3<br>
         <input type = "number" step = "0.001" name = "DAI3" /><br>

         DAI5<br>
         <input type = "number" step = "0.001" name = "DAI5" /><br>

         DAI7<br>
         <input type = "number" step = "0.001" name = "DAI7" /><br>

         DAI9<br>
         <input type = "number" step = "0.001" name = "DAI9" /><br>


         <input type = "submit" step = "0.001" value = "submit" /><br>

        </form>
       ---------------------------------------------------------------------------------------<br>
        <h3> <a href="/data2">
            <input type="submit" Value="Read data" style="height:150px; width:150px" ></a>
        <h3> <a href="/init">
            <input type="submit" Value="Reset dataset" style="height:150px; width:150px" ></a>
        <h3> <a href="/">
            <input type="submit" Value="Homepage" style="height:150px; width:150px" ></a>


   </body>
</html>
