
<h3>D. Correlation between data collected from field (during harvest) and greehouse (during early days) [HEATMAP]</h3>

<img src="data:image/png;base64, {{img_data}}" width="300"/>

       <br>
        <br>
<a href="/data2">
            <input type="submit" Value="Back to table" style="height:150px; width:150px" ></a>
    <a href="/researcher">
            <input type="submit" Value="Researcher page" style="height:150px; width:150px" ></a>
     <a href="/">
            <input type="submit" Value="Homepage" style="height:150px; width:150px" ></a>
  
        <br>
        <br>           <br>
        <br>    