<html>
   <body>
 
    <h3> {{ msgfield }} </h3><br><br>
      <table border = 2 color= black>
         <thead>

            <td>Genotype</td>
            <td>Lesion</td>
         </thead>
 
         {% for row in rows3 %}
            <tr>
 
               <td>{{row["Field_Genotype"]}}</td>
               <td>{{row["Lesion"]}}</td>
               
            </tr>
         {% endfor %}
      </table> 
       <br>
       <br>
       Disease forecast (Not done yet) <br>
       
       
      <h4>Please click GO to imput "Field Location" for futher suggestion of Chemical application
          <a href = "/3"> <input type = "submit" value = "GO" /> </a></h4>
      <h3><a href = "/farmer">Go back to Farmer page</a></h3>
 
   </body>
</html>

