<html>
   <body>
         <h3>INFO8000 FINAL PROJECT</h3>
            <p>Po-Yun Teng and Yun-Ching Tsai</p>
            <p>Instruction </p> 
            <p> This tool is developed to advice peanut researchers or farmers on chemical application program for stem rot disease management in field based on weather forecast. Disease progress will be estimated by instant field disease situation.</p>
        <h4>
       Click on Button if you are a researcher and plan to imput greenhouse data
            <a href="/researcher">
            <input type="submit" Value="Go"></a></h4>   
       <h4>
       Click on Button if you are a farmer and plan to get chemical suggestion
            <a href="/farmer">
            <input type="submit" Value="Go"></a></h4>   
   </body>
</html>