<html>
   <body>
 
      <table border = 1>
         <thead>
            <td>trademark</td>
            <td>manufacturer</td>
            <td>types</td>
            <td>species</td>
         </thead>
 
         {% for row in rows %}
            <tr>
               <td>{{row["trademark"]}}</td>
               <td>{{row["manufacturer"]}}</td>
               <td> {{ row["types"]}}</td>
               <td>{{row['species']}}</td>
            </tr>
         {% endfor %}
      </table>
 
      <a href = "/">Go back to home page</a>
 
   </body>
</html>