<html>
   <body>

      <form action = "{{ url_for('addrec2') }}" method = "POST">
         <h3>vaccine</h3>
         trademark<br>
         <input type = "text" name = "trademark" /> <br>

         manufacturer<br>
         <input type = "text" name = "manufacturer" /><br>

         types<br>
         <input type = "text" name = "types" /><br>

         species<br>
         <input type = "text" name = "species" /><br>
         <input type = "submit" value = "submit" /><br>
       </form>

   </body>
</html>