<html>
   <body>
         <h2>04/28 edition INFO8000 FINAL PROJECT</h2>
            <p>Po-Yun Teng and Yun-Ching Tsai</p>
            <h3>Instruction </h3>
            <p> This tool is developed to advise peanut researchers or farmers on chemical application for stem rot disease management in field based on weather forecast.</p>
            <p> Disease progress will be estimated by the instant field disease situations.</p>
            <p> As a researcher, you could input greenhouse data for further forecast of stem rot disease of peanut.</p>
            <p> As a farmer, you could input genotype of peanut and the observation of lesion length to get chemical suggestion.</p>
            <a href="/researcher">
            <input type="submit" Value="Researcher" style="height:200px; width:200px" ></a>
            <a href="/farmer">
            <input type="submit" Value="Farmer" style="height:200px ; width:200px" ></a>
   </body>
</html>
