<html>
   <body>
        
        <br>
       * Imput Location, {{msgrecord2}} <br>
       <br>
        <h3>5 DAYS WEATHER FORECASTS </h3> 
          <table border = 2 color= black>
         <thead>

            <td>City</td>
            <td>Time</td>
            <td>Weather</td>
            <td>Temperature (min) </td>
         </thead>
 
         {% for row in rows2 %}
            <tr>
 
               <td>{{row["City"]}}</td>
               <td>{{row["time"]}}</td>
               <td>{{row["weather"]}}</td>
               <td>{{row['temp']}}</td>
            </tr>
         {% endfor %}
      </table> 
        <br>
       <h3>Field genotype and lesion </h3> 
          <table border = 2 color= black>
         <thead>

            <td>Genotype</td>
            <td>Lesion</td>
         </thead>
 
         {% for row in rows5 %}
            <tr>
 
               <td>{{row["Field_Genotype"]}}</td>
               <td>{{row["Lesion"]}}</td>
               
            </tr>
         {% endfor %}
      </table> 
        <br>
        <h3>Cheimal suggestion:  {{msgsug}} <h3>
        <br>
      <h3><a href = "/">go back to home page</a></h3>
      <h3><a href = "/farmer">Go back to Farmer page</a></h3>
 
   </body>
</html>


